# ---- Same as .gitignore ----
# npm
package-lock.json

# Dependency directories
node_modules

# IDEs
.vscode

# Test Reports
coverage
.nyc_output

# Binaries
*.tgz

# ---- In addition to .gitignore ----
# github
.github

# Tests
test/
